.body {
  margin: 0 auto;
  background-image: url(../public/main-2.JPG);
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 10px;
  margin-top: 0 !important;
  padding: 20px;
  font-size: 24px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0 30px;
}

/* about */

.about {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin-left: 5%;
}

.about-intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-intro__text {
  width: 35%;
  font-size: 24px;
}

/* reserve */
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
