

.body {
  margin: 0 auto;
  background-image: url(../public/main-2.JPG);
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Navbar */
/* 기본 스타일 */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 10px;
  margin-top: 0 !important;
  padding: 20px;
  font-size: 24px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0 30px;
}

/* 950px 이하일 때의 스타일 */
@media screen and (max-width: 950px) {
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* about */
.about-img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin-left: 5%;
}

.about-intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 950px) {
  .about-intro {
    display: flex;
    flex-direction: column;
  }

  .about-intro__text {
    width: 60% !important;
  }

  .about-img {
    width: 300px;
    height: 300px;
  }
}

.about-intro__text {
  width: 35%;
  font-size: 24px;
}

/* reserve */
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.react-calendar {
  background-color: darkgray !important;
  color: black;
  padding: 3px !important;
  border-radius: 15px !important;
}

/* sightseeing */
.sightseeing-map {
  display: flex;
  justify-content: center;
  width: 10;
}

.yeoju-map {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .yeoju-map {
    width: 90%;
  }
}

/* contact */
.contact {
  margin-left: 3%;
}
.contact-img {
  width: 600px;
  border-radius: 15px;
}

@media screen and (max-width: 700px) {
  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    border-radius: 15px;
  }
}
